* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: #fff;
  background: #415ad9;
  font-family: 'DMSans', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
